<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Origami template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>

		html {
  			font-family: FinancierDisplayWeb, sans-serif;
  		}

      h1 {
  		  font-family: MetricWeb, serif;
  	  }

		body {
			margin: 20;
      background-color: #FFF1E5;
      line-height: 1.6;
      font-family: MetricWeb, serif;
		}

    div.notice {
      background-color: #CCE6FF;
    }

	</style>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts@^3.0.4, o-buttons
" />
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons"></script>
	<script>
		(function(src) {
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=a,b,c'));
	</script>
</head>

<body>
<h1>Please score FT.com</h1>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  <%= form_for @review, url: {action: "create"}, html: {class: "review_form"} do |form| %>

  	<p>
    <div id ="buttons">
    	<%= form.label :rating %><br>
      <p>
      <div id="1">
      	<button class="o-buttons o-buttons--secondary"><%=form.radio_button(:rating, 1) %><%= label_tag(:rating, "1") %></button>
    	</div>
      </p>
      <p>
    	<div id="2">
        <button class="o-buttons o-buttons--secondary"><%=form.radio_button(:rating, 2) %><%= label_tag(:rating, "2") %></button>
    	</div>
      </p>
      <p>
    	<div id="3">
        <button class="o-buttons o-buttons--secondary"><%=form.radio_button(:rating, 3) %><%= label_tag(:rating, "3") %></button>
    	</div>
      </p>
      <p>
    	<div id="4">
        <button class="o-buttons o-buttons--secondary"><%=form.radio_button(:rating, 4) %><%= label_tag(:rating, "4") %></button>
    	</div>
      </p>
    </div>
  	</p>

  	<p>
    	<button class="o-buttons o-buttons--secondary"><%= form.submit "Submit" %></button>
  	</p>
	<% end %>
</body>
</html>
